<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      {{#link-to "index"}}Jobs{{/link-to}}
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{{if item.title item.title 'New'}}}
    </li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    {{#if isTitleEdit}}
      {{#click-outside action=(action "titleClickOutside")}}
        {{input
          id="jobTitleInput" type="text"
          class="job-title job-title-input"
          placeholder="Enter a title for this job..."
          value=item.title}}
      {{/click-outside}}
    {{else}}
      <span class="job-title" {{action "titleClick"}}>
        {{#if item.title}}
          {{{item.title}}}
        {{else}}
          <span class="text-muted">Enter a title for this job...</span>
        {{/if}}
      </span>
    {{/if}}
  </div>
  <div class="card-body">
    <div class="row">

      <div class="job-body col-8 col-sm-8 col-md-9 col-xl-10">

        <div class="job-summary-holder mb-3">
          <div class="job-summary-header">
            <div class="text-uppercase text-muted small mb-2">
              <b class="mr-3">Summary</b>
              {{#unless isSummaryEdit}}
                <button class="btn btn-sm btn-light" {{action "summaryClick"}}>
                  Edit
                </button>
              {{/unless}}
            </div>
          </div>
          {{#if isSummaryEdit}}
            {{#click-outside action=(action "summaryClickOutside")}}
              {{textarea
                id="jobSummaryInput"
                class="job-summary-input"
                placeholder="Add short summary for this job..."
                value=item.summary
                autoresize=true}}
              <div class="row">
                <div class="col-6 text-left">
                  <button class="btn btn-sm btn-success" {{action "summaryClickSave"}}>
                    Save
                  </button>
                </div>
              </div>
            {{/click-outside}}
          {{else}}
            <div class="job-summary" {{action "summaryClick"}}>
              {{#if item.summary}}
                {{item.summary}}
              {{else}}
                <span class="text-muted">Add short summary for this job...</span>
              {{/if}}
            </div>
          {{/if}}
        </div>

        <div class="job-description-holder">
          <div class="job-description-header">
            <div class="text-uppercase text-muted small mb-2">
              <b class="mr-3">Description</b>
              {{#unless isDescriptionEdit}}
                <button class="btn btn-sm btn-light" {{action "descriptionClick"}}>
                  Edit
                </button>
              {{/unless}}
            </div>
          </div>
          {{#if isDescriptionEdit}}
            {{#click-outside action=(action "descriptionClickOutside")}}
              {{textarea
                id="jobDescriptionInput"
                class="job-description job-description-input"
                placeholder="Add more detailed description..."
                value=item.description
                autoresize=true}}
              <div class="row">
                <div class="col-6 text-left">
                  <button class="btn btn-sm btn-success" {{action "descriptionClickSave"}}>
                    Save
                  </button>
                </div>
                <div class="col-6 text-right">
                  <button class="btn btn-sm btn-secondary">
                    Formatting Help
                  </button>
                </div>
              </div>
            {{/click-outside}}
          {{else}}
            <div class="job-description" {{action "descriptionClick"}}>
              {{#if item.description}}
                {{markdown-to-html item.description}}
              {{else}}
                <span class="text-muted">Add more detailed description...</span>
              {{/if}}
            </div>
          {{/if}}
        </div>

      </div>

      <div class="job-actions col-4 col-sm-4 col-md-3 col-xl-2">
        <div class="job-actions-header">
          <div class="text-uppercase text-muted small mb-2">
            <b>Actions</b>
          </div>
        </div>
        <div>
          <button class="btn btn-light" {{action "copy"}}>
            <i class="fa fa-copy"></i>
            <b>Copy</b>
          </button>
        </div>
        <div>
          <button class="btn btn-light" {{action "delete"}}>
            <i class="fa fa-trash"></i>
            <b>Delete</b>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>